@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,600&family=Poppins:wght@300;400;500;600;700;800&display=swap");

*,
body {
  padding: 0;
  margin: 0;
  appearance: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

// Hero
.hero {
  display: flex;
  place-content: center;
  gap: 150px;
  padding: 86px 0;
  background-color: #ebebeb;

  .text {
    display: flex;
    flex-direction: column;
    place-content: center;

    h2 {
      font-size: 64px;
      font-weight: 600;
    }

    .backgroundContainer {
      display: flex;
      place-content: center;
      border-radius: 20px;
      width: 238px;
      height: 90px;
      background-color: #c9c9c9;
    }
  }

  img {
    width: 400px;
    height: 400px;
    border-radius: 30px;
  }
}

// About Me
.aboutMe {
  display: flex;
  place-content: center;
  gap: 60px;
  padding: 100px 0;
}

.aboutMe {
  .aboutMeContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 470px;
    text-align: justify;
    text-justify: inter-word;
    line-height: 30px;
    gap: 30px;

    p {
      font-size: 18px;
      font-weight: 500;
    }
  }
}

.headerContent {
  font-size: 36px;
  font-weight: 600;
}

// Interests
.interests {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  padding: 50px 0 100px 0;
  background-color: #ebebeb;

  .interestsContent {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 80px;

    .content {
      display: flex;
      align-items: center;
      width: 501px;
      height: 130px;
      border-radius: 20px;
      gap: 50px;
      padding-left: 60px;
      background-color: #ffffff;

      img {
        width: 75px;
        height: 75px;
      }

      h4 {
        font-family: "Fraunces", serif;
        font-size: 30px;
        font-weight: 600;
      }
    }
  }
}

// Footer
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 85px;
  gap: 50px;
  background-color: #666666;

  h3 {
    font-size: 36px;
    font-weight: 600;
    color: #ffffff;
  }

  .socialMedia {
    display: flex;
    gap: 30px;

    .socialMediaContent {
      width: 88px;
      height: 88px;
      background-color: #ababab;
      border-radius: 30px;

      &:hover {
        cursor: pointer;
        background-color: white;
      }

      img {
        width: 88px;
        height: 88px;
      }
    }
  }

  .copyrightInfo {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    padding: 24px 0;
    background-color: #000000;
    width: 100%;

    p {
      font-size: 15px;
      font-weight: 600;
      color: white;
    }
  }
}
